@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .common-style {
    @apply bg-gray-800 font-normal text-gray-400 overflow-x-hidden;
  }
  .section-title {
    @apply text-xl sm:text-3xl text-center mt-32 mb-20 border-b-4 border-secondary pb-5 w-8/12 sm:w-4/12 m-auto;
  }
  .text1 {
    @apply text-2xl sm:text-5xl;
  }
  .text2 {
    @apply text-xl sm:text-2xl;
  }
  .text3 {
    @apply text-lg sm:text-xl;
  }

  .my-container {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
  @media (min-width: 640px) {
    .my-container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .my-container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .my-container {
      max-width: 1024px;
      padding: 0 40px;
    }
  }
  @media (min-width: 1280px) {
    .my-container {
      max-width: 1280px;
      padding: 0 50px;
    }
  }
  @media (min-width: 1536px) {
    .my-container {
      max-width: 1536px;
      padding: 0 60px;
    }
  }

  .textGradient {
    background-image: linear-gradient(to right, #5ce1e6, #3372e3, #ff66c4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bgGradient {
    background-image: linear-gradient(to right, #5ce1e6, #3372e3, #ff66c4);
  }

  @keyframes wave {
    0%,
    100% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-25deg);
    }
    40% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-15deg);
    }
    80% {
      transform: rotate(5deg);
    }
  }
  .animate-wave {
    animation: wave 2s ease-in-out infinite;
  }

  @keyframes mypicture {
    0%,
    100% {
      transform: translate(0);
    }
    50% {
      transform: translate(0, 15px);
    }
  }
  .animate-mypicture {
    animation: mypicture 5s ease-in-out infinite;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #1f2937;
  }
  ::-webkit-scrollbar-thumb {
    background: #ff66c4;
    border-radius: 20%;
  }
}
