@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .common-style {
    @apply bg-gray-800 font-normal text-gray-200 overflow-x-hidden;
  }
  .my-container {
    @apply w-10/12 mx-auto;
  }
  .section-title {
    @apply text-xl sm:text-3xl text-center mt-32 mb-20 border-b-4 border-secondary pb-5 w-8/12 sm:w-4/12 m-auto;
  }
  .text1 {
    @apply text-2xl sm:text-5xl;
  }
  .text2 {
    @apply text-xl sm:text-2xl;
  }
  .text3 {
    @apply text-lg sm:text-xl;
  }

  .progressbar{
    top: 72px;
  }

  @keyframes wave {
    0%,
    100% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-25deg);
    }
    40% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-15deg);
    }
    80% {
      transform: rotate(5deg);
    }
  }
  .animate-wave {
    animation: wave 2s ease-in-out infinite;
  }

  @keyframes mypicture {
    0%,
    100% {
      transform: translate(0);
    }
    50% {
      transform: translate(0, 15px);
    }
  }
  .animate-mypicture {
    animation: mypicture 5s ease-in-out infinite;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #1f2937;
  }
  ::-webkit-scrollbar-thumb {
    background: #ff4a57;
    border-radius: 20%;
  }
}
